/* CSS personalizzato per migliorare l'aspetto dell'album */
body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.album-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Oppure 'contain' a seconda delle tue preferenze */
  transition: transform 0.3s ease-in-out;
}

#lookAlbum {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.album-item {
  flex: 1 1 30%; /* Le immagini occupano il 30% dello spazio su desktop */
  max-width: 30%; /* Limita la larghezza massima */
  box-sizing: border-box;
}

.album-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.album-item:hover img {
  transform: scale(1.05);
}

.album-item .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .album-item {
    margin-bottom: 20px;
  }
}
