body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

.step {
  display: none; /* Nasconde tutti i passi di default */
}

.step.active {
  display: block; /* Mostra solo il passo attivo */
}

button {
  padding: 10px 20px;
  background-color: #fcb69f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffb6a7;
}

.palette {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.hidden {
  display: none;
}

#risultato {
  text-align: center;
  margin-top: 40px;
}

#risultato h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  button {
    width: 100%;
    padding: 15px;
  }
}
