body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  margin-top: 20px;
}

.color-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Una griglia responsiva */
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.color-option {
  cursor: pointer;
  display: inline-block;
}

.color-option img {
  width: 100px;  /* Ridotto per una dimensione più gestibile */
  height: 100px;
  border-radius: 8px;
  border: 3px solid transparent;  /* Bordo trasparente di default */
  transition: border 0.3s;
}

.color-option img:hover {
  border-color: #ff6347;  /* Bordo rosso al passaggio del mouse */
}

.color-option.selected img {
  border-color: #ff6347;  /* Bordo rosso se selezionato */
}

button {
  padding: 10px 20px;
  background-color: #fcb69f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
}

button:hover {
  background-color: #ffb6a7;
}

#risultato {
  display: none;
  margin-top: 30px;
}
